
      <h2>Agregar Persona</h2>
<form  [formGroup]="myForm" novalidate  >
    <div class="form-group col-md-5"> 
        <label  class="control-label">Nombre:</label> <span class="ion-ios-book"></span> 
        <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre" formControlName="nombre" id="name">
     
      </div>  
      <div class="alert alert-danger col-md-5" role="alert" *ngIf="myForm.get('nombre').errors">
        
        <p *ngIf="myForm.get('nombre').hasError('required')" >Campo Requerido</p>
      </div> 
      
      <div class="form-group col-md-5"> 
          <label  class="control-label">Apellido Paterno:</label>
          <input type="text" class="form-control" [(ngModel)]="cliente.apellidoP" name="apellidoP" formControlName="ap">
        </div>   
        <div class="alert alert-danger col-md-5" role="alert" *ngIf="myForm.get('ap').errors">
        
          <p *ngIf="myForm.get('ap').hasError('required')" >Campo Requerido</p>
        </div> 
        <div class="form-group col-md-5"> 
            <label  class="control-label">Apellido Materno:</label>
            <input type="text" class="form-control" [(ngModel)]="cliente.apellidoM" name="apellidoM" formControlName="am" >
          </div>   
          <div class="alert alert-danger col-md-5" role="alert" *ngIf="myForm.get('am').errors">
        
            <p *ngIf="myForm.get('am').hasError('required')" >Campo Requerido</p>
          </div> 
          <div class="form-group col-md-5"> 
              <label  class="control-label">Correo:</label>
              <input type="text" class="form-control" [(ngModel)]="cliente.correo" name="correo" formControlName="corr"   >
            </div>  
            <div class="alert alert-danger col-md-5" role="alert" *ngIf="myForm.get('corr').errors">
        
              <p *ngIf="myForm.get('corr').hasError('required')" >Campo Requerido</p>
              <p *ngIf="myForm.get('corr').hasError('email')" >Escriba Un Correo Correcto</p>
            </div> 
          <div class="form-group col-md-5"> 
              <label  class="control-label">Edad:</label>
              <input type="number" class="form-control" [(ngModel)]="cliente.edad" name="edad" formControlName="edad">
            </div>   
            <div class="alert alert-danger col-md-5" role="alert" *ngIf="myForm.get('edad').errors">
        
              <p *ngIf="myForm.get('edad').hasError('required')" >Campo Requerido</p>
            </div> 
            
            <div class="form-group col-md-5"> 
                <label  class="control-label">Sexo:</label>
                <select  type="text" class="form-control" [(ngModel)]="cliente.sexo" name="sexo" formControlName="sex">
                    <option value="M">Masculino</option>
                    <option value="F">Femenino</option>
                  </select>
              </div>   
         
      
      
            <div class="form-group col-md-offset-3 col-md-6">
        <button (click)="this.nuevoCliente()"  class="btn btn-primary "  type="button" name="icono" type="submit" >Enviar </button>
      </div>
 
    
</form>
      


   


